/*FOOTER*/
footer {
    border: 1px solid;
    text-align: center;
    background-color: #07E4F3;
	position:absolute;
	margin-bottom: 0;
}

		footer div ul li {
			list-style-type: none;
			display: inline-block;
			margin-left: 1rem;
		}
			img {
				width: 3rem;
			}

footer h5 {
    display: inline-table;
    font-size: 1rem;
    list-style-type: none;
    font-size: 1rem;
}
		