header ul li {
    display: inline-table;
    text-align: center, bold;
    padding: 1rem 11rem 1rem 11rem;
    border: 16rem;
    background-color:bisque;
	font-weight: bold;
	font-size: 1rem;
    
}
	a {
		color: black;
		text-decoration-line: line;
		text-transform: uppercase;
		font-weight: bold;
	}

		